@font-face {
    font-family: 'FaberSansReduced';
    src: url('../../fonts/FaberSansReduced55.ttf') format("truetype"),
        url('../../fonts/FaberSansReduced55.woff') format("woff"),
        url('../../fonts/FaberSansReduced55.woff2') format("woff2")
}
@font-face {
    font-family: 'FaberSansReduced';
    src: url('../../fonts/FaberSansReduced65.ttf') format("truetype"),
        url('../../fonts/FaberSansReduced65.woff') format("woff"),
        url('../../fonts/FaberSansReduced65.woff2') format("woff2")
}
@font-face {
    font-family: 'FaberSansReduced';
    src: url('../../fonts/FaberSansReduced75.ttf') format("truetype"),
        url('../../fonts/FaberSansReduced75.woff') format("woff"),
        url('../../fonts/FaberSansReduced75.woff2') format("woff2")
}
@font-face {
    font-family: 'CoreSansC';
    src: url('../../fonts/CoreSansC-35Light.eot'),
        url('../../fonts/CoreSansC-35Light.ttf') format("truetype"),
        url('../../fonts/CoreSansC-35Light.woff') format("woff2"),
        url('../../fonts/CoreSansC-35Light.woff2') format("woff2")
}
@font-face {
    font-family: 'CoreSansC';
    src: url('../../fonts/CoreSansC-35Light.eot'),
        url('../../fonts/CoreSansC-35Light.ttf') format("truetype"),
        url('../../fonts/CoreSansC-35Light.woff') format("woff2"),
        url('../../fonts/CoreSansC-35Light.woff2') format("woff2")
}
@font-face {
    font-family: 'Directo-Bold';
    src: url('../../fonts/Directo-Bold.eot'),
        url('../../fonts/Directo-Bold.ttf') format("truetype"),
        url('../../fonts/Directo-Bold.woff') format("woff2"),
        url('../../fonts/Directo-Bold.woff2') format("woff2")
}
   