.program {
    margin-bottom: 50px;
    @include mediaLaptop {
        margin-top: 50px;
    }
}

.program__heading {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.program__title {
    margin-bottom: 25px;
    width: 70%;
    @include mediaMobile {
        width: 100%;
        font-size: 35px;
    }
    @include mediaMobileS {
        font-size: 22px;
    }
}

.program__text {
    width: 50%;
    line-height: 2;
    font-size: 20px;
    color: #6D698C;
    @include mediaLaptop {
        width: 100%;
    }
    @include mediaMobileS {
        font-size: 15px;
    }
}
.program__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    align-items: center;
    justify-items: center;
    @include mediaLaptop {
        grid-gap: 50px;
    }
    @include mediaTabletS {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
       
    }
    @include mediaMobile {
        grid-template-columns: repeat(1, 1fr);
    }
}