.testimonials__item {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.testimonial__pic {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    

    img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
}

.testimonial__info {
    
    padding: 20px;
    border-radius: 20px;
    color: #fff;
}

.testimonial__info-name {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
}

.testimonial__info-text {}